
@{
    ViewData["Title"] = "AccountChat";
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

@* Аккаунт *@
<div>
    <img src="~/images/defaut_profile.jpg" width="100" class="rounded mx-auto d-block border border-secondary" alt="...">
</div>

<div class="row justify-content-center">
    <div class="col-8 text-center">
        <div class="shadow-sm p-2 m-1 bg-white rounded border border-secondary">+996 772 18 19 20</div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 text-center">
        <div class="shadow-sm p-2 m-1 bg-white rounded font-weight-bold hoverable border border-secondary">Айбек Бакаев</div>
    </div>
</div>
<div class="row justify-content-center mt-1">
    <div class="col-8 text-center">
        <a href="/Account/Edit/" class="btn border border-dark text-dark">Редактировать</a>
    </div>
</div>
<div class="sticky-top bg-white">

    <br>
    <div class="d-flex justify-content-around">
        <div class="">
            <a href="/Account/Chat/" class="btn border border-primary text-primary">
                <span class="material-icons">email</span>
            </a>
        </div>
        <div class="">
            <a href="/Account/Contact/" class="btn border border-dark text-dark">
                <span class="material-icons">contacts</span>
            </a>
        </div>
        <div class="">
            <a href="/Account/Add/" class="btn border border-dark text-dark">
                <span class="material-icons">add_circle_outline</span>
            </a>
        </div>
        <div class="">
            <a href="/Account/Calls/" class="btn border border-dark text-dark">
                <span class="material-icons">call</span>
            </a>
        </div>
        <div class="">
            <a href="/Account/Photos/" class="btn border border-dark text-dark">
                <span class="material-icons">photo_camera</span>
            </a>
        </div>
    </div>
    <hr>
</div>


@* Контент *@
<div class="row justify-content-center mt-1">
    <div class="col-8 text-center">
        <a href="#" class="btn btn-sm btn-default border border-dark">Создать группу</a>
    </div>
</div>

<div class="row shadow-sm p-1 mb-1 bg-white rounded">
    <div class="col-3">
        <br>
        <img src="~/images/defaut_profile.jpg" class="img-thumbnail rounded-circle" alt="...">
    </div>
    <div class="col-9">
        <div class="row justify-content-end">
            <small class="text-muted">15-август, 19:10</small>
        </div>
        <div class="row">
            <b>Акыл</b>
        </div>
        <div class="row">
            <p class="lead">Кандай досум?</p>
        </div>
    </div>
</div>

<div class="row shadow-sm p-1 mb-1 bg-white rounded">
    <div class="col-3">
        <br>
        <img src="~/images/defaut_profile.jpg" class="img-thumbnail rounded-circle" alt="...">
    </div>
    <div class="col-9">
        <div class="row justify-content-end">
            <small class="text-muted">13-август, 11:30</small>
        </div>
        <div class="row">
            <b>Баатыр</b>
        </div>
        <div class="row">
            <p class="lead">Кече футбол ойногон элек.</p>
        </div>
    </div>
</div>
<div class="row shadow-sm p-1 mb-1 bg-white rounded">
    <div class="col-3">
        <br>
        <img src="~/images/defaut_profile.jpg" class="img-thumbnail rounded-circle" alt="...">
    </div>
    <div class="col-9">
        <div class="row justify-content-end">
            <small class="text-muted">11-август, 14:20</small>
        </div>
        <div class="row">
            <b>Алтынай</b>
        </div>
        <div class="row">
            <p class="lead">Бирок, аба-ырайы жакшы эле</p>
        </div>
    </div>
</div>

<div class="row shadow-sm p-1 mb-1 bg-white rounded">
    <div class="col-3">
        <br>
        <img src="~/images/defaut_profile.jpg" class="img-thumbnail rounded-circle" alt="...">
    </div>
    <div class="col-9">
        <div class="row justify-content-end">
            <small class="text-muted">10-август, 21:00</small>
        </div>
        <div class="row">
            <b>Кыйал</b>
        </div>
        <div class="row">
            <p class="lead">Каяктасын Айбек? звонок кылып кой</p>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>