
@{
    ViewData["Title"] = "AccountContact";
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}


@* Аккаунт *@
<div>
    <img src="~/images/defaut_profile.jpg" width="100" class="rounded mx-auto d-block border border-secondary" alt="...">
</div>

<div class="row justify-content-center">
    <div class="col-8 text-center">
        <div class="shadow-sm p-2 m-1 bg-white rounded border border-secondary">+996 772 18 19 20</div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 text-center">
        <div class="shadow-sm p-2 m-1 bg-white rounded font-weight-bold hoverable border border-secondary">Айбек Бакаев</div>
    </div>
</div>
<div class="row justify-content-center mt-1">
    <div class="col-8 text-center">
        <a href="/Account/Edit/" class="btn border border-dark text-dark">Редактировать</a>
    </div>
</div>
<br>
<div class="d-flex justify-content-around">
    <div class="">
        <a href="/Account/Chat/" class="btn border border-dark text-dark">
            <span class="material-icons">email</span>
        </a>
    </div>
    <div class="">
        <a href="/Account/Contact/" class="btn border border-primary text-primary">
            <span class="material-icons">contacts</span>
        </a>
    </div>
    <div class="">
        <a href="/Account/Add/" class="btn border border-dark text-dark">
            <span class="material-icons">add_circle_outline</span>
        </a>
    </div>
    <div class="">
        <a href="/Account/Calls/" class="btn border border-dark text-dark">
            <span class="material-icons">call</span>
        </a>
    </div>
    <div class="">
        <a href="/Account/Photos/" class="btn border border-dark text-dark">
            <span class="material-icons">photo_camera</span>
        </a>
    </div>
</div>
<hr>


@* Контент *@
<div class="row justify-content-center mt-1">
    <div class="col-8 text-center">
        <a href="/Account/tEdit/" class="btn btn-sm btn-default border border-dark">Создать контакт</a>
    </div>
</div>

<a asp-action="AccountGuest" asp-controller="Home" class="text-decoration-none text-dark">
    <div class="row shadow-sm p-1 mb-1 bg-white rounded">
        <div class="col-3">
            <img src="~/images/defaut_profile.jpg" class="img-thumbnail rounded" alt="...">
        </div>
        <div class="col-9">
            <div class="row p-1">
                <b>Акыл</b>
            </div>
            <div class="row p-1">
                <p>+996 552 81 23 48</p>
            </div>
        </div>
    </div>
</a>

<div class="row shadow-sm p-1 mb-1 bg-white rounded">
    <div class="col-3">
        <img src="~/images/defaut_profile.jpg" class="img-thumbnail rounded" alt="...">
    </div>
    <div class="col-9">
        <div class="row p-1">
            <b>Баатыр</b>
        </div>
        <div class="row p-1">
            <p>+996 500 13 56 33</p>
        </div>
    </div>
</div>

<div class="row shadow-sm p-1 mb-1 bg-white rounded">
    <div class="col-3">
        <img src="~/images/defaut_profile.jpg" class="img-thumbnail rounded" alt="...">
    </div>
    <div class="col-9">
        <div class="row p-1">
            <b>Алтынай</b>
        </div>
        <div class="row p-1">
            <p>+996 777 67 44 99</p>
        </div>
    </div>
</div>
<div class="row shadow-sm p-1 mb-1 bg-white rounded">
    <div class="col-3">
        <img src="~/images/defaut_profile.jpg" class="img-thumbnail rounded" alt="...">
    </div>
    <div class="col-9">
        <div class="row p-1">
            <b>Кыйал</b>
        </div>
        <div class="row p-1">
            <p>+996 999 44 76 00</p>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>