
@{
    ViewData["Title"] = "AccountPhotos";
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

@* Аккаунт *@
<div>
    <img src="~/images/defaut_profile.jpg" width="100" class="rounded mx-auto d-block border border-secondary" alt="...">
</div>

<div class="row justify-content-center">
    <div class="col-8 text-center">
        <div class="shadow-sm p-2 m-1 bg-white rounded border border-secondary">+996 772 18 19 20</div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 text-center">
        <div class="shadow-sm p-2 m-1 bg-white rounded font-weight-bold hoverable border border-secondary">Айбек Бакаев</div>
    </div>
</div>
<div class="row justify-content-center mt-1">
    <div class="col-8 text-center">
        <a href="/Account/Edit/" class="btn border border-dark text-dark">Редактировать</a>
    </div>
</div>
<div class="sticky-top bg-white">
    <br>
    <div class="d-flex justify-content-around">
        <div class="">
            <a href="/Account/Chat/" class="btn border border-dark text-dark">
                <span class="material-icons">email</span>
            </a>
        </div>
        <div class="">
            <a href="/Account/Contact/" class="btn border border-dark text-dark">
                <span class="material-icons">contacts</span>
            </a>
        </div>
        <div class="">
            <a href="/Account/Add/" class="btn border border-dark text-dark">
                <span class="material-icons">add_circle_outline</span>
            </a>
        </div>
        <div class="">
            <a href="/Account/Calls/" class="btn border border-dark text-dark">
                <span class="material-icons">call</span>
            </a>
        </div>
        <div class="">
            <a href="/Account/Photos/" class="btn border border-primary text-primary">
                <span class="material-icons">photo_camera</span>
            </a>
        </div>
    </div>
    <hr>
</div>



@* Контент *@

<div class="card">
    <img src="~/photos/1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Бул машина эн мыктынын мыктысы.</p>
    </div>
</div>

<div class="card">
    <img src="~/photos/2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Ийгиликке карай жол женил эмес.</p>
    </div>
</div>

<div class="card">
    <img src="~/photos/4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Кунунуздорду жакшы откозунуздор.</p>
    </div>
</div>

<div class="card">
    <img src="~/photos/5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Жакшы эс алып келдик.</p>
    </div>
</div>

<div class="card">
    <img src="~/photos/6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Сейилдеп жургон кезим.</p>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>