
@{
    ViewData["Title"] = "Index";
}

<div class="sticky-top bg-white">
    <hr />
    <div class="">
        <div class="container">
            <div class="row p-1">
                <a href="/Video/Index/" class="col-3 border border-dark text-center text-dark text-decoration-none">Кино</a>
                <a href="/VideoSerial/Index/" class="col-3 border border-dark text-center text-dark text-decoration-none">Сериал</a>
                <a href="/VideoTVShow/Index/" class="col-3 border border-dark text-center text-dark text-decoration-none">ТВ Шоу</a>
                <a href="/VideoMultik/Index/" class="col-3 border border-primary text-center text-primary text-decoration-none">Мультик</a>
                @*<a href="#" class="col-3 border border-dark text-center text-dark text-decoration-none">Канал</a>*@
            </div>
        </div>
    </div>
    <br />
</div>



<hr />
<div class="w-100">
    <video class="w-100" controls>
        <source src="~/videos/kurmanjan.mp4" type="video/mp4">
        Your browser does not support HTML video.
    </video>
</div>
<hr />
<div>
    <div class="pl-3 pt-2">
        <p>Курманжан Датка</p>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <button class="btn btn-sm text-muted">
                <span class="material-icons">thumb_up</span>
            </button>
            <button class="btn btn-sm text-muted">
                <span class="material-icons">thumb_down</span>
            </button>
            <button class="btn btn-sm text-muted">
                <span class="material-icons">share</span>
            </button>
            <button class="btn btn-sm text-muted">
                <span class="material-icons">comment</span>
            </button>
        </div>
        <div>
            <span class="text-muted">Просмотр <b>24 млн</b></span>
        </div>
    </div>
</div>

<hr />
<div class="w-100">
    <video class="w-100" controls>
        <source src="~/videos/naparnikter.mp4" type="video/mp4">
        Your browser does not support HTML video.
    </video>
</div>
<hr />
<div>
    <div class="pl-3 pt-2">
        <p>Напарниктер 2</p>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <button class="btn btn-sm text-muted">
                <span class="material-icons">thumb_up</span>
            </button>
            <button class="btn btn-sm text-muted">
                <span class="material-icons">thumb_down</span>
            </button>
            <button class="btn btn-sm text-muted">
                <span class="material-icons">share</span>
            </button>
            <button class="btn btn-sm text-muted">
                <span class="material-icons">comment</span>
            </button>
        </div>
        <div>
            <span class="text-muted">Просмотр <b>22 млн</b></span>
        </div>
    </div>
</div>

<hr />

<br />
<br />
<br />
<div class="position-sticky fixed-bottom" style="background-color: white;">
    <div class="container">
        <div class="d-flex justify-content-around">
            <div class="" style="margin-right:1px;">
                <a href="/Album/Index" class="btn btn-default border border-dark"><span class="material-icons">audiotrack</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="/Video/Index" class="btn btn-default border-primary text-primary"><span class="material-icons">subscriptions</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="#" class="btn btn-default  border border-dark "><span class="material-icons">live_tv</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="/News/Index" class="btn btn-default border text-dark"><span class="material-icons">language</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="#" class="btn btn-default  border border-dark"><span class="material-icons">directions_run</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="#" class="btn btn-default  border border-dark"><span class="material-icons">sports_esports</span></a>
            </div>
        </div>
    </div>
</div>