
@{
    ViewData["Title"] = "AccountPhotos";
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}
<link href="~/css/account.css" rel="stylesheet" />
<div class="card">
    <img src="~/photos/1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Бул машина эн мыктынын мыктысы.</p>
    </div>
</div>

<div class="card">
    <img src="~/photos/2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Ийгиликке карай жол женил эмес.</p>
    </div>
</div>

<div class="card">
    <img src="~/photos/4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Кунунуздорду жакшы откозунуздор.</p>
    </div>
</div>

<div class="card">
    <img src="~/photos/5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Жакшы эс алып келдик.</p>
    </div>
</div>

<div class="card">
    <img src="~/photos/6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Сейилдеп жургон кезим.</p>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>