
@{
    ViewData["Title"] = "AccountContact";
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}




<div class="row justify-content-center mt-1">
    <div class="col-8 text-center">
        <a href="/Home/AccountEdit/" class="btn btn-sm btn-default border border-dark">Создать контакт</a>
    </div>
</div>

<div class="row shadow-sm p-1 mb-1 bg-white rounded">
    <div class="col-3">
        <img src="~/images/defaut_profile.jpg" class="img-thumbnail rounded" alt="...">
    </div>
    <div class="col-9">
        <div class="row p-1">
            <b>Акыл</b>
        </div>
        <div class="row p-1">
            <p>+996 552 81 23 48</p>
        </div>
    </div>
</div>

<div class="row shadow-sm p-1 mb-1 bg-white rounded">
    <div class="col-3">
        <img src="~/images/defaut_profile.jpg" class="img-thumbnail rounded" alt="...">
    </div>
    <div class="col-9">
        <div class="row p-1">
            <b>Баатыр</b>
        </div>
        <div class="row p-1">
            <p>+996 500 13 56 33</p>
        </div>
    </div>
</div>

<div class="row shadow-sm p-1 mb-1 bg-white rounded">
    <div class="col-3">
        <img src="~/images/defaut_profile.jpg" class="img-thumbnail rounded" alt="...">
    </div>
    <div class="col-9">
        <div class="row p-1">
            <b>Алтынай</b>
        </div>
        <div class="row p-1">
            <p>+996 777 67 44 99</p>
        </div>
    </div>
</div>
<div class="row shadow-sm p-1 mb-1 bg-white rounded">
    <div class="col-3">
        <img src="~/images/defaut_profile.jpg" class="img-thumbnail rounded" alt="...">
    </div>
    <div class="col-9">
        <div class="row p-1">
            <b>Кыйал</b>
        </div>
        <div class="row p-1">
            <p>+996 999 44 76 00</p>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>