
@{
    ViewData["Title"] = "Album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Album.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col align-self-start">
            <a href="/Home/AlbumMusic/">
                <img src="~/images/nurlan.jpg" alt="">
                <p class="border border-dark" style="margin-bottom:2px;">Нурлан Насип</p>
                <p class="border border-dark">Күзгү жамгыр</p>
            </a>
        </div>
        <div class="col align-self-end">
            <a href="/Home/AlbumMusic/">
                <img src="~/images/nurlan.jpg" alt="">
                <p class="border border-dark" style="margin-bottom:2px;">Нурлан Насип</p>
                <p class="border border-dark">Күзгү жамгыр</p>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col align-self-start">
            <a href="/Home/AlbumMusic/">
                <img src="~/images/nurlan.jpg" alt="">
                <p class="border border-dark" style="margin-bottom:2px;">Нурлан Насип</p>
                <p class="border border-dark">Күзгү жамгыр</p>
            </a>
        </div>
        <div class="col align-self-end">
            <a href="/Home/AlbumMusic/">
                <img src="~/images/nurlan.jpg" alt="">
                <p class="border border-dark" style="margin-bottom:2px;">Нурлан Насип</p>
                <p class="border border-dark">Күзгү жамгыр</p>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col align-self-start">
            <a href="/Home/AlbumMusic/">
                <img src="~/images/nurlan.jpg" alt="">
                <p class="border border-dark" style="margin-bottom:2px;">Нурлан Насип</p>
                <p class="border border-dark">Күзгү жамгыр</p>
            </a>
        </div>
        <div class="col align-self-end">
            <a href="/Menus/AlbumMusic/">
                <img src="~/images/nurlan.jpg" alt="">
                <p class="border border-dark" style="margin-bottom:2px;">Нурлан Насип</p>
                <p class="border border-dark">Күзгү жамгыр</p>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col align-self-start">
            <a href="/Home/AlbumMusic/">
                <img src="~/images/nurlan.jpg" alt="">
                <p class="border border-dark" style="margin-bottom:2px;">Нурлан Насип</p>
                <p class="border border-dark">Күзгү жамгыр</p>
            </a>
        </div>
        <div class="col align-self-end">
            <a href="/Home/AlbumMusic/">
                <img src="~/images/nurlan.jpg" alt="">
                <p class="border border-dark" style="margin-bottom:2px;">Нурлан Насип</p>
                <p class="border border-dark">Күзгү жамгыр</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-start">
            <a href="/Home/AlbumMusic/">
                <img src="~/images/nurlan.jpg" alt="">
                <p class="border border-dark" style="margin-bottom:2px;">Нурлан Насип</p>
                <p class="border border-dark">Күзгү жамгыр</p>
            </a>
        </div>
        <div class="col align-self-end">
            <a href="/Home/AlbumMusic/">
                <img src="~/images/nurlan.jpg" alt="">
                <p class="border border-dark" style="margin-bottom:2px;">Нурлан Насип</p>
                <p class="border border-dark">Күзгү жамгыр</p>
            </a>
        </div>
    </div>
</div>