
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AlimanProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/cssProject/home.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <main>
        <div class="navbar">
            <div class="container">
                <div class="d-flex justify-content-around">
                    <div class="" style="margin-right:1px;">
                        <a href="#" class="btn btn btn-outline-info">Альбом</a>
                    </div>
                    <div class="" style="margin-left: 15px;">
                        <a href="#" class="btn btn btn-outline-info ">Концерт</a>
                    </div>

                    <div class="" style="margin-left: 15px;">
                        <a href="#" class="btn btn btn-outline-info">Клип</a>
                    </div>
                    <div class="" style="margin-left: 15px;">
                        <a href="#" class="btn btn btn-outline-info">Канал</a>
                    </div>
                </div>
            </div>
        </div>
        <div>


            <div class="card">
                <img src="/images/Cat.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Кандай сонун мышык</p>
                </div>
            </div>

            <div class="card">
                <img src="/images/Dog.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Итти карачы </p>
                </div>
            </div>


    </main>
    <div class="navbar" style="background-color: #555;">
        <div class="container">
            <div class="d-flex justify-content-around">
                <div class="" style="margin-right:1px;">
                    <a href="account_chats.html" class="btn btn btn-outline-info">
                        <span class="material-icons">audiotrack</span>
                    </a>
                </div>
                <div class="" style="margin-left: 15px;">
                    <a href="account_contacts.html" class="btn btn btn-outline-info ">
                        <span class="material-icons">subscriptions</span>
                    </a>
                </div>

                <div class="" style="margin-left: 15px;">
                    <a href="account_add.html" class="btn btn btn-outline-info"><span class="material-icons">videocam</span></a>
                </div>
                <div class="" style="margin-left: 15px;">
                    <a href="account_add.html" class="btn btn btn-outline-info"><span class="material-icons">language</span></a>
                </div>
                <div class="" style="margin-left: 15px;">
                    <a href="account_add.html" class="btn btn btn-outline-info"><span class="material-icons">directions_run</span></a>
                </div>
                <div class="" style="margin-left: 15px;">
                    <a href="account_add.html" class="btn btn btn-outline-info"><span class="material-icons">videogame_asset</span></a>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <br />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>



</body>
</html>
