
@{
    ViewData["Title"] = "MenuBar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="navbar" style="background-color: #555;">
    <div class="container">
        <div class="d-flex justify-content-around">
            <div class="" style="margin-right:10px;">
                <a href="account_chats.html" class="btn btn btn-outline-info">
                    <span class="material-icons">shopping_cart</span>
                </a>
            </div>
            <div class="" style="margin-right: 10px;">
                <a href="account_contacts.html" class="btn btn btn-outline-info ">
                    <span class="material-icons">movie</span>
                </a>
            </div>

            <div class="" style="margin-right: 10px;">
                <a href="account_add.html" class="btn btn btn-outline-info"><span class="material-icons">tv</span></a>
            </div>
            <div class="" style="margin-right: 10px;">
                <a href="account_add.html" class="btn btn btn-outline-info"><span class="material-icons">record_voice_over</span></a>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <img src="/images/Cat.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Кандай сонун мышык</p>
    </div>
</div>

<div class="card">
    <img src="/images/Dog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Итти карачы </p>
    </div>
</div>
<br />
<br/>
<br/>