
@{
    ViewData["Title"] = "MenuBar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="scrollmenu">
    <a href="account_chats.html" class="btn btn-default  border border-dark"><span class="material-icons">shopping_cart<i style="vertical-align: 5px; font-size: 0.8em;">Магазин</i></span></a>
    <a href="account_chats.html" class="btn btn-default  border border-dark"><span class="material-icons">movie <i style="vertical-align: 5px; font-size: 0.8em;">Фильм</i></span></a>
    <a href="account_chats.html" class="btn btn-default  border border-dark"><span class="material-icons">tv <i style="vertical-align: 5px; font-size: 0.8em;">Канал</i></span></a>
    <a href="account_chats.html" class="btn btn-default  border border-dark"><span class="material-icons">record_voice_over <i style="vertical-align: 5px; font-size: 0.8em;">Реклама</i></span></a>
</div>


<br />
<div class="card">
    <img src="/images/default-image.png" class="card-img-top" alt="...">
</div>
<br />
<div class="card">
    <img src="/images/default-image.png" class="card-img-top" alt="...">
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />