
@{
    ViewData["Title"] = "MenuBar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.scrollmenu {
        background-color: white;
        overflow: auto;
        white-space: nowrap;
    }

        div.scrollmenu a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

            div.scrollmenu a:hover {
                background-color: #777;
            }
    .btn {
        border: none;
        outline: none;
        padding: 10px 16px;
        background-color: white;
        cursor: pointer;
        font-size: 18px;
    }

        /* Style the active class, and buttons on mouse-over */
        .active, .btn:hover {
            background-color: blue;
            color: white;
        }
</style>


<div class="scrollmenu" id="">
    <a href="account_chats.html" class="btn btn btn-default  border border-dark" ><span class="material-icons">shopping_cart<i style="vertical-align: 5px; font-size: 0.8em;">Магазин</i></span></a>
    <a href="account_chats.html" class="btn btn btn-default  border border-dark"><span class="material-icons">movie <i style="vertical-align: 5px; font-size: 0.8em;">Фильм</i></span></a>
    <a href="account_chats.html" class="btn btn btn-default  border border-dark"><span class="material-icons">tv <i style="vertical-align: 5px; font-size: 0.8em;">Канал</i></span></a>
    <a href="account_chats.html" class="btn btn btn-default  border border-dark"><span class="material-icons">record_voice_over <i style="vertical-align: 5px; font-size: 0.8em;">Реклама</i></span></a>
</div>
<br/>

<div class="card">
    <img src="/images/Cat.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Кандай сонун мышык</p>
    </div>
</div>

<div class="card">
    <img src="/images/Dog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Итти карачы </p>
    </div>
</div>
<br />
<br />
<br />
<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDIV");
    var btns = header.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script> 