
@{
    ViewData["Title"] = "MenuBar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.scrollmenu {
        background-color: white;
        overflow: auto;
        white-space: nowrap;
    }

        div.scrollmenu a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

            div.scrollmenu a:hover {
                background-color: #777;
            }
</style>


<div class="scrollmenu">
    <a href="account_chats.html" class="btn btn-default  border border-dark"><span class="material-icons">shopping_cart<i style="vertical-align: 5px; font-size: 0.8em;">Магазин</i></span></a>
    <a href="account_chats.html" class="btn btn-default  border border-dark"><span class="material-icons">movie <i style="vertical-align: 5px; font-size: 0.8em;">Фильм</i></span></a>
    <a href="account_chats.html" class="btn btn-default  border border-dark"><span class="material-icons">tv <i style="vertical-align: 5px; font-size: 0.8em;">Канал</i></span></a>
    <a href="account_chats.html" class="btn btn-default  border border-dark"><span class="material-icons">record_voice_over <i style="vertical-align: 5px; font-size: 0.8em;">Реклама</i></span></a>
</div>



<div class="card">
    <img src="/images/Cat.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Кандай сонун мышык</p>
    </div>
</div>

<div class="card">
    <img src="/images/Dog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Итти карачы </p>
    </div>
</div>
<br />
<br />
<br />
<style>
</style>