
@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="card">
    <img src="/images/default-image.png" class="card-img-top" alt="...">
</div>
<br />
<div class="card">
    <img src="/images/default-image.png" class="card-img-top" alt="...">
</div>
<br />
<br />