
@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sticky-top bg-white">
    <hr />
    <div class="">
        <div class="container">
            <div class="row p-1">
                <a href="/Album/Index" class="col-3 border border-dark text-center text-dark text-decoration-none">Альбом</a>
                <a href="/Concert/Index" class="col-3 border border-dark text-center text-dark text-decoration-none">Концерт</a>
                <a href="/Clip/Index" class="col-3 border border-primary text-center text-primary text-decoration-none">Клип</a>
                <a href="/Chanel/Index" class="col-3 border border-dark text-center text-dark text-decoration-none">Канал</a>
            </div>
        </div>
    </div>
    <br />
</div>


<br />
<div class="card">
    <img src="/images/default-image.png" class="card-img-top" alt="...">
</div>
<br />
<div class="card">
    <img src="/images/default-image.png" class="card-img-top" alt="...">
</div>
<br />
<br />

<br />
<div class="" style="background-color: white;">
    <div class="container">
        <div class="d-flex justify-content-around">
            <div class="" style="margin-right:1px;">
                <a href="/Album/Index" class="btn btn-default border border-primary text-primary"><span class="material-icons">audiotrack</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="/Video/Index" class="btn btn-default border border-dark"><span class="material-icons">subscriptions</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="/Tv/Index" class="btn btn-default  border border-dark "><span class="material-icons">live_tv</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="/News/Index" class="btn btn-default  border border-dark"><span class="material-icons">language</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="#" class="btn btn-default  border border-dark"><span class="material-icons">directions_run</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="#" class="btn btn-default  border border-dark"><span class="material-icons">sports_esports</span></a>
            </div>
        </div>
    </div>
</div>