
@{
    ViewData["Title"] = "Index";
}

<div class="sticky-top bg-white">
    <hr />
    <div class="">
        <div class="container">
            <div class="row p-1">
                <a href="#" class="col-3 border border-primary text-center text-primary text-decoration-none">Медиа</a>
                <a href="#" class="col-3 border border-dark text-center text-dark text-decoration-none">Газета</a>
                <a href="#" class="col-3 border border-dark text-center text-dark text-decoration-none">Журнал</a>
                <a href="#" class="col-3 border border-dark text-center text-dark text-decoration-none">Канал</a>
            </div>
        </div>
    </div>
    <br />
</div>
<hr />


<div class="d-flex justify-content-around">
    <div class="col-5 shadow p-3">
        <img src="~/photos/bbcLogo.png" class="img-fluid rounded d-flex" style="width: 140px; height: 80px;object-fit:cover;" />
    </div>
    <div class="col-5 shadow p-3">
        <img src="~/photos/kaktusLogo.png" class="img-fluid rounded d-flex" style="width: 140px; height: 80px;object-fit:cover;" />
    </div>
</div>
<br />

<div class="d-flex justify-content-around">
    <div class="col-5 shadow p-3">
        <img src="~/photos/sputnikLogo.png" class="img-fluid rounded d-flex" style="width: 140px; height: 80px;object-fit:cover;" />
    </div>
    <div class="col-5 shadow p-3">
        <img src="~/photos/azattykLogo.png" class="img-fluid rounded d-flex" style="width: 120px; height: 80px;object-fit:cover;" />
    </div>
</div>

<hr />
<br />
<div>
    <div class="container">
        <div class="d-flex justify-content-around">
            <div class="" style="margin-right:1px;">
                <a href="/Album/Index" class="btn btn-default border border-dark"><span class="material-icons">audiotrack</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="/Video/Index" class="btn btn-default border border-dark"><span class="material-icons">subscriptions</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="#" class="btn btn-default  border border-dark "><span class="material-icons">live_tv</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="/News/Index" class="btn btn-default border-primary text-primary"><span class="material-icons">language</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="#" class="btn btn-default  border border-dark"><span class="material-icons">directions_run</span></a>
            </div>
            <div class="" style="margin-left: 15px;">
                <a href="#" class="btn btn-default  border border-dark"><span class="material-icons">sports_esports</span></a>
            </div>
        </div>
    </div>
</div>