
@{
    ViewData["Title"] = "Index";
}

<div class="">
    <div class="container">
        <div class="row p-1">
            <a href="/Home/Album" class=" ">Альбом</a>
            <a href="/Home/Concert" >Концерт</a>
            <a href="/Home/Clip" >Клип</a>
            <a href="/Home/Chanel" >Канал</a>
        </div>
    </div>
</div>
<br />