
@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="">
    <div class="container">
        <div class="row p-1">
            <a href="/Album/Index" class="col-3 border border-dark text-center text-dark text-decoration-none">Альбом</a>
            <a href="/Concert/Index" class="col-3 border border-dark text-center text-dark text-decoration-none">Концерт</a>
            <a href="/Clip/Index" class="col-3 border border-dark text-center text-dark text-decoration-none">Клип</a>
            <a href="/Chanel/Index" class="col-3 border border-primary text-center text-primary text-decoration-none">Канал</a>
        </div>
    </div>
</div>
<br />


<br />
<div class="card">
    <img src="/images/default-image.png" class="card-img-top" alt="...">
</div>
<br />
<div class="card">
    <img src="/images/default-image.png" class="card-img-top" alt="...">
</div>
<br />
<br />